<link rel="stylesheet" href="/style/style.css">
<h1>Admin Dashboard</h1>
<ul>
    <li><a href="/admin/manage-users">Manage Users</a></li>
    <li><a href="/admin/view-storage">View Storage Usage</a></li>
    <li><a href="/admin/send-emails">Send Marketing Emails</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<%- include("../partials/footer.ejs") %>
